ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  grid-auto-rows: 10rem;
  justify-content: center;
}

li {
  display: grid;
  justify-content: center;
}

h1 {
  justify-self: center;
}

#startScreen {
  display: grid;
  justify-content: center;
}

#gameScreen {
  display: grid;
  justify-content: center;
}

#buttonAndScore {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#buttonAndScore button {
  height: 50%;
  width: 100px;
  border-radius: 10px;
}

img {
  width: 120px;
}
